.resend-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  background-color: #f0f4f8;
}

.resend-form {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resend-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-group input[type="password"] {
  width: calc(100% - 40px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.toggle-visibility {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-visibility.error-present {
  top: calc(50% + 2px);
}

.resend-password-btn {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resend-password-btn:hover {
  background-color: #1877f2;
  color: white;
}
.form-group input[type="password"] {
  width: 100% ; /* Göz simgeleri için alan bırak */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.back-to-login{
  margin-top: 10px;
  
}
.resend-password{
  width: 100%;
  margin-left: 2%;
  
}
.back-to-login>a{
  text-decoration: none;
  font-size: 18px;
}
@media screen and (max-width:600px) {
  .resend-form{
margin-left: 50px;
  }
}
@media screen and (max-width:520px){
  .resend-form{
    width: 70%;
  height: 50%;
  }
  .resend-password{
    margin-left: 4%;
  }
}
@media screen and (max-width:360px){
  .resend-form{
    width: 60%;
  height: 40%;
  }
  .back-to-login>a{
    font-size: 12px;
  }
.resend-form>h2{
  font-size: 16px;
}
.form-group input[type="password"]::placeholder {
  font-size: 10px; /* Placeholder font boyutunu 360px genişliği altında azalt */
}
}
